{% extends 'base.html' %}

    {% block title%} {{cats}} {% endblock %}

    {% block content %}
        {% if category_posts %}
            <h1>{{cats}} : </h1>
            {% for p in category_posts %}  {# category_posts is from the views.py file #}
                <hr>
                <li>
                    <a href="{% url 'article' p.pk %}">{{p.title}}</a> {# linking and sending the post's primary to article.html #}
                    <br>By @{{p.author.first_name}} {{p.author.last_name}} - Posted at {{p.date}}
                    <button type="button" class="btn btn-outline-info btn-sm">{{p.category}}</button>
                    <br>
                    {{p.body | truncatechars:500 |safe}} {# slice will only cut the line at the last limit charecter whereas truncatechars will put "..." at the end of the last charecter and don't cut a word in the middle #} {# safe is used to hide the html from the article text #}
                </li>
                {% if user.is_authenticated %}  {# If user is logged in #}
                    <small><a href="{% url 'update_post' p.pk %}">(Edit)</a></small>
                    <small><a href="{% url 'delete_post' p.pk %}">(Delete)</a></small>
                {% endif %}
                <br>
            {% endfor %}
        {% else %}
            <p>Sorry, this page doesn't seem to exist</p>
        {% endif %}
        <br><a href="{% url 'home' %}" class="btn btn-secondary">Back to Home</a>
    {% endblock %}
    
